#blanket,#aguarde {
	position: fixed;
	display: none;
}

#blanket {
	left: 0;
	top: 0;
	background-color: #f0f0f0;
	filter: alpha(opacity = 65);
	height: 100%;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	opacity: 0.65;
	z-index: 9998;
}

#aguarde {
	width: auto;
	height: 30px;
	top: 40%;
	left: 45%;
	background: url('http://scop.romi.com/lib_usu/gif/carregando.gif') no-repeat 0 50%; 
	background-image: url('http://scop.romi.com/lib_usu/gif/carregando.gif') no-repeat 0 50%; 
	line-height: 30px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 9999;
	padding-left: 27px;
}